<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
                <title>OdoDash</title>

            {% load static %}

            <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
            <link href="https://cdn.materialdesignicons.com/6.6.96/css/materialdesignicons.min.css" rel="stylesheet">
            <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="{% if request.COOKIES.theme == 'dark' %}bg-gray-800 text-gray-200{% endif %}">

        {% include 'components/navbar.html' %}

    <div class="max-w-6xl mx-auto">
        <h1 class="text-2xl font-bold mt-12">Selection du vehicule</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button name="submit_category" class="bg-blue-500 text-white px-4 py-2 rounded">Selectionner</button>
        </form>
    </div>

    </body>
</html>