<!DOCTYPE html>
<html class="{% if request.COOKIES.theme == 'dark' %}dark{% endif %} font-mono">
<head>
        <title>OdoDash configuration</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.materialdesignicons.com/7.4.47/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <body class="{% if request.COOKIES.theme == 'dark' %}bg-gray-800 text-gray-200{% endif %}">
        {% include "components/navbar.html" %}

        <div class="max-w-6xl mx-auto">
            <h1 class="text-2xl font-bold">Configuration</h1>
            <div class="columns-3">
                <div class="box-border p-4">
                    {% include "components/forms/mileage_form.html" %}
                </div>
            
                <div class="box-border p-4">       
                    {% include "components/forms/expense_form.html" %}
                </div>
    
                <div class="box-border p-4">
                    {% include "components/forms/category_form.html" %}
                </div>
            </div>  
        </div>
    </body>
</html>